<h3>Groups</h3>
  <% if @groups.exists? %>
    <% if @group_joining == [] %>
      <%= @group_not_join %>

       <table class = "table">
        <thead>
          <tr>
            <th></th>
            <th>グループ名</th>
            <th>紹介文</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @groups.each do |group| %>
          <tr>
            <td>
              <%= link_to group_path(group.id) do %>
                <%= image_tag group.group_image, size: "100x100" %>
              <% end %>
            </td>
            <td><%= link_to group.name,group_path(group.id) %></td>
            <td><%= group.body %></td>
            <td>
              <% if current_user.id == group.owner_id %>
                <%= link_to "Edit",  edit_group_path(group.id), class: "btn btn-sm btn-success" %>
                <%= link_to "Delete",group_path(group.id),  method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-sm btn-danger ml-2" %>
              <% else %>
                <%= link_to "Join this group",group_path(group.id) %>
              <% end %>
            </td>
          </tr>

          <% end %>
        </tbody>

      </table>
    <% else %>
      <table class = "table">
        <thead>
          <tr>
            <th></th>
            <th>グループ名</th>
            <th>紹介文</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @groups.each do |group| %>
          <tr>
            <td>
              <%= link_to group_path(group.id) do %>
                <%= image_tag group.group_image, size: "100x100" %>
              <% end %>
            </td>
            <td><%= link_to group.name,group_path(group.id) %></td>
            <td><%= group.body %></td>
            <td>
              <%= link_to "Edit",  edit_group_path(group.id), class: "btn btn-sm btn-success" %>
              <%= link_to "Delete",group_path(group.id),  method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-sm btn-danger ml-2" %>
            </td>
          </tr>

          <% end %>
        </tbody>

      </table>
    <% end %>
  <% else %>
    <h4>グループがありません</h4>
  <% end %>